__pycache__/
*.pyc
*.pyo
.env
.venv
*.sqlite3
*.log
*.db
.DS_Store
*.jpg
*.jpeg
*.bmp
results/
rdkit-env/
calchub_log.txt
__pycache__/utils.cpython-313.pyc
.vscode/settings.json
__pycache__/geo_tools_1.cpython-313.pyc
__pycache__/utils.cpython-313.pyc
exports/session_log_2025-05-18_20-45-51.md
calchub_log.txt
gallery_meta.json
__pycache__/bio_tools_1.cpython-313.pyc
__pycache__/chain_mode.cpython-313.pyc
__pycache__/geo_tools_1.cpython-313.pyc
__pycache__/utils.cpython-313.pyc
__pycache__/bio_tools_1.cpython-312.pyc
__pycache__/chain_mode.cpython-312.pyc
__pycache__/chemtools.cpython-312.pyc
__pycache__/data_utils.cpython-312.pyc
__pycache__/geo_tools_1.cpython-312.pyc
__pycache__/grapher.cpython-312.pyc
__pycache__/hub.cpython-312.pyc
__pycache__/masscalc.cpython-312.pyc
__pycache__/math_tools_1.cpython-312.pyc
__pycache__/mol_assembler.cpython-312.pyc
__pycache__/phys_tools_1.cpython-312.pyc
__pycache__/theme.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
backups/bio_tools_1.py.bak
backups/chemtools.py.bak
backups/geo_tools_1.py.bak
backups/math_tools_1.py.bak
backups/phys_tools_1.py.bak
exports/session_log_2025-05-17_12-35-33.md
exports/session_log_2025-05-17_19-50-58.md
exports/session_log_2025-05-18_02-10-02.md
exports/session_log_2025-05-18_13-37-43.md
images/Pythagoras.png
library_entries/acceleration.json
library_entries/area_of_a_triangle.json
library_entries/avogadro's_number.json
library_entries/basalt.json
library_entries/boyle's_law.json
library_entries/density.json
library_entries/dna_double_helix.json
library_entries/evaporation.json
library_entries/frequency.json
library_entries/glucose.json
library_entries/gravitational_potential_energy.json
library_entries/hooke's_law.json
library_entries/ideal_gas_law.json
library_entries/iron.json
library_entries/kinetic_energy.json
library_entries/mitochondria.json
library_entries/molarity.json
library_entries/newton's_second_law.json
library_entries/ohm's_law.json
library_entries/ph_scale.json
library_entries/photosynthesis.json
library_entries/photosystem_ii.json
library_entries/power.json
library_entries/pythagorean_theorem.json
library_entries/quartz.json
library_entries/refractive_index.json
library_entries/rna_transcription.json
library_entries/stalactite_formation.json
library_entries/volume_of_a_sphere.json
library_entries/wave_speed.json
library_entries/work.json
results/shell_C_2025-05-17_12-53-11.ps
exports/chats/chat1.txt
calchub_log.txt
exports/chats/chat3.txt
exports/chats/chat2.txt
chainmode_log.txt
calchub_log.txt
element_favorites.json
mineral_favorites.json
LICENSE
mineral_favorites.json
LICENSE
calchub_log.txt
exports/session_log_2025-05-19_22-04-16.md
codes/hello_world.py
exports/session_log_2025-05-19_22-26-09.md
exports/session_log_2025-05-20_12-33-36.md
gallery/isotope_chart_20250520_205324.png
gallery/lens_ray_diagram_20250520_190651.png
gallery/lens_ray_diagram_20250520_190818.png
gallery/lens_ray_diagram_20250520_190821.png
gallery/lens_ray_diagram_20250520_190828.png
gallery/projectile_trajectory_20250520_185302.png
dist/hub.exe
hub.spec
build/hub/Analysis-00.toc
build/hub/base_library.zip
build/hub/EXE-00.toc
build/hub/hub.pkg
build/hub/PKG-00.toc
build/hub/PYZ-00.pyz
build/hub/PYZ-00.toc
build/hub/warn-hub.txt
build/hub/xref-hub.html
