__pycache__/
*.pyc
*.pyo
.env
.venv
*.sqlite3
*.log
*.db
.DS_Store
*.png
*.jpg
*.jpeg
*.bmp
results/
rdkit-env/
calchub_log.txt
__pycache__/utils.cpython-313.pyc
.vscode/settings.json
__pycache__/geo_tools_1.cpython-313.pyc
__pycache__/utils.cpython-313.pyc
